HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### maven ###
.mvn
mvnw
mvnw.cmd


### tmp out files ###
target
simple_spring_boot-dependabot-maven-mysql-mysql-connector-java-8.0.16

